<!DOCTYPE html>
<html lang="en" th:replace="~{base :: parent(~{::#content},~{::title})}">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>

<body>
    <div id="content">
        <div class="grid grid-cols-12">
            <div class="col-span-8 md:col-span-2 lg:col-span-3 xl:col-span-4"></div>
            <div class="col-span-12 md:col-span-8 lg:col-span-6 xl:col-span-4">
                <div
                    class="block p-6 bg-white border border-gray-200 rounded-lg shadow-sm hover:bg-gray-800 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-800">


                    <h5 class="mb-2 text-2xl font-bold tracking-tight text-blue-500 dark:text-blue">Login Here</h5>

                    <div class="text-red-500" th:if="${param.error}">Invalid email or password</div>
                    <div class="text-green-500" th:if="${param.logout}">You have been logged out</div>

                    <form method="post" data-th-action="@{'/authenticate'}" >
                        <div class="mt-4 mb-0"> <!-- margin top or margin bottom-->


                            <div class="mt-2">
                                <label for="email"
                                    class="text-left block mb-1 text-sm font-medium text-gray-900 dark:text-white">
                                    Email</label>
                                <input name="email"  type="email" id="email"
                                    class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                                    placeholder="name@gmail.com" required />
                            </div>

                            <div class="mt-2">
                                <label for="password"
                                    class="text-left block mb-1 text-sm font-medium text-gray-900 dark:text-white">
                                    Password</label>
                                <input name="password" type="password" id="password"
                                    class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                                    required />                               
                            </div>

                            <div class="mt-2 mb-0 flex justify-center">
                                <button type="submit"
                                    class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">Login</button>
                            </div>                            
                        </div>
                    </form>

                    <div class=" social-buttons-container flex justify-center mt-10">
                        <a class="login-with-google-btn"
                        data-th-href="@{'/oauth2/authorization/google'}">Login with Google</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>